<div class="jumbotron text-center">
  <h1>GreenRHINO</h1>
  <h2>A Dev-Match Community</h2>
  <h3>A membership site where entrepreneurs can meet developers.</h3>
</div>

<div class="row mainContent">
  <% if user_signed_in? %>
    <div class="col-md-6">
      <div class="well wellMin">
        <h2 class="text-center">Your Profile</h2>
        <p class="text-center">Make sure you enter a good and clear profile.</p>
        <% if current_user.profile %>
          <%= link_to "Edit your profile.", "#", class: 'btn btn-default btn-lg btn-block' %>
          <%= link_to "View your profile.", user_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
        <% else %>
          <% # Show profile links %>
          <p>Create your profile so that you can share your information with the community.</p>
          <%= link_to "Create your Profile.", new_user_profile_path(current_user), class: 'btn btn-default btn-lg btn-block' %>
        <% end %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well wellMin">
        <h2 class="text-center">The Community</h2>
        <p class="text-center">Visit the commmunity to meet other front & back end developers and designers!</p>
        <%= link_to "Visit the Community", "#", class: 'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
  <% else %>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Silver Membership</h2>
        <br/>
        <h4 class="text-center">Sign up for a FREE Silver account to get basic access to the Developer Community.</h4>
        <br/>
        <p>The Silver Plan is free and will allow you to browse our lists of Developers and see 1 (one) example of thier work. It will not show contact information for you to contact the Developer.</p>
        <br/>
        
        <%= link_to "Sign up FREE!", new_user_registration_path(plan: @silver_plan.id), class: 'btn btn-primary btn-lg btn-block btn-1' %>
        
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Gold Membership</h2>
        <br/>
        <h4 class="text-center">Sign up for a Gold account for $9.99/month to access the complete community, including contact info & resumes'.</h4>
        <br/>
        <p>The Gold account is a very low cost way to browse our list of Developers, including thier contact information, full portfolio and resume'. The $9.99 is a resonable fee for all the info you recieve.</p>
        <br/>
        
        <%= link_to "Sign up for Gold!", new_user_registration_path(plan: @gold_plan.id), class: 'btn btn-success btn-lg btn-block btn-1' %>
        
      </div>
    </div>
  <% end %>
</div>

<%= render "devise/registrations/banner_main" %>
